@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Onest&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-image: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    font-family: 'Onest', sans-serif;

}

/* health prodcuts scroll  */

.wrapper {
    display: flex;

    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
    padding: 5px;

}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {

    box-shadow: 5px 10px 10px black;
    border: 1px solid gray;
    border-radius: 5px;
}


/* swiper style */

.img-box img {
    max-width: 100%;
}

.slider-container .container {
    padding: 0 10px;
    max-width: 400px;
    height: 50%;
    margin: 0 auto;
}

.review-container .rev-container {
    padding: 0 15px;
    max-width: 400px;
    height: 50%;
    margin: 0 auto;
}


#logo-name {
    font-family: 'Croissant One', cursive;
    font-weight: 800;
}

/* animation for punch line  */

.title-animation p {

    text-align: center;
    font-weight: 600;
    font-size: 17px;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}



@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}